# Data Wrangling: Cleaning, Structuring & Transforming Raw Data

Data wrangling (also called data munging or data preparation) is the process of cleaning, structuring, and enriching raw data into a clean, organized format suitable for analysis, reporting, or machine learning. It involves handling missing values, standardizing formats, and merging disparate sources to enable accurate, reliable, and informed decision-making.

## Key Aspects of Data Wrangling:

*   **Purpose**: To turn, for example, unorganized spreadsheets or disparate databases into a unified, actionable dataset.
*   **Core Tasks**: Cleaning (removing duplicates, handling missing values, fixing errors), structuring (reformatting, renaming, changing data types), and enriching (adding new context).
*   **The 6-Step Process**: Typically involves **discovery**, **structuring**, **cleaning**, **enriching**, **validating**, and **publishing**.
*   **Alternative Names**: Known as data munging, data cleaning, or data preparation.
*   **Importance**: It ensures high-quality data, prevents faulty analysis, and saves time by organizing data before it enters a data warehouse or AI model.

Data wrangling is often considered an iterative, often manual, process, although many modern tools automate these tasks to handle large datasets.

## The 6-Step Data Wrangling Process

Based on the provided sources, the data wrangling process typically involves these steps:

### 1. Discovery
This initial stage focuses on familiarizing yourself with the data. You assess its quality, sources (databases, APIs, CSVs), formats, and potential issues like missing values, inconsistencies, errors, or outliers. The findings are often documented in a data quality or profiling report.

### 2. Structuring (or Transformation)
Raw data is often unusable in its raw state. This step focuses on organizing the data into a unified format suitable for analysis. Common tasks include:
*   **Aggregation**: Combining rows using summary statistics and grouping data based on certain variables.
*   **Joining/Merging**: Combining data from multiple tables or disparate sources.
*   **Data type conversion**: Changing the data type of a variable (e.g., string to date) to aid in calculations.
*   **Pivoting**: Shifting data between rows and columns.

### 3. Cleaning
This step involves handling missing values (by filling or deleting them), removing duplicates, correcting errors or inconsistencies, and smoothing "noisy" data (reducing the impact of random variations). The goal is to ensure as few errors as possible that could influence the final analysis. It's important to avoid unnecessary data loss or overcleaning.

### 4. Enriching (or Augmenting)
Data enrichment involves adding new information to existing datasets to enhance their value. You assess what additional information is necessary (e.g., demographic, geographic, behavioral data) and integrate it with the existing dataset, applying the same cleaning steps to the new data.

### 5. Validating
This step verifies the accuracy, consistency, and quality of the wrangled data. Validation techniques include:
*   **Data type validation**: Ensuring correct data types.
*   **Range or format checks**: Verifying values fall within acceptable ranges and adhere to certain formats.
*   **Consistency checks**: Making sure there is a logical agreement between related variables.
*   **Uniqueness checks**: Confirming that certain variables (like IDs) have unique values.
*   **Statistical analysis**: Identifying outliers or anomalies using descriptive statistics and visualizations.

### 6. Publishing
Once the data is validated, it is made available for use. This might involve loading it into a data warehouse, creating data visualizations, exporting it for machine learning algorithms, or sharing it with others in the organization via reports or dashboards.

## Why Data Wrangling is Important

*   **Ensures High-Quality Data**: It addresses data quality issues like missing values, duplicates, and formatting inconsistencies, which are the foundation for accurate analysis.
*   **Prevents Faulty Analysis**: Without proper wrangling, the results of data analysis can be misleading, potentially leading to flawed business decisions.
*   **Saves Time and Resources**: Although it can be time-consuming (estimates suggest it can take up to 45-80% of an analyst's time), it organizes data so that it's ready for efficient use in downstream processes like building machine learning models, creating data visualizations, and generating business intelligence reports.
*   **Enables AI and Machine Learning**: AI models are only as good as the data on which they are trained. Data wrangling helps ensure the information used to develop and enhance models is accurate, improving interpretability and model performance.

## Tools and Technologies

Organizations use various tools for data wrangling:
*   **Programming Languages**: Python (with libraries like Pandas) and R are widely used.
*   **Spreadsheets**: Tools like Microsoft Excel and Google Sheets are used for basic cleaning and manipulation of smaller datasets.
*   **Specialized Tools**: Platforms like Alteryx, Paxata, and Informatica provide visual interfaces to streamline and automate data cleansing and transformation.
*   **Big Data Platforms**: Tools like Apache Hadoop and Apache Spark are used for wrangling large-scale, complex datasets.
*   **Cloud Ecosystems**: Cloud providers like AWS, Google Cloud, and Microsoft Azure include data wrangling solutions.

In summary, data wrangling is a foundational, iterative process that transforms raw, messy data into a trusted asset, enabling organizations to make informed, data-driven decisions.

# Writing to a text file using built-in open() function

In [4]:
# Open a file named 'example.txt' in write mode ('w').
# If the file doesn't exist, it will be created. If it exists, its content will be truncated.
# The 'with' statement ensures the file is properly closed after its block finishes.
with open('/content/Test/example.txt','w') as file:
  # Write the specified string content to the file.
  file.write('This is a sample file for testing.\nHello')
# Print a success message to the console.
print('File created successfully')

File created successfully

In [10]:
# Open the file '/content/Test/example.txt' in write mode ('w').
# This will overwrite the file if it already exists or create it if it doesn't.
with open('/content/Test/example.txt','w') as file:
  # Write a multi-line string to the file.
  file.write('''This is a sample file for testing.\nHello.
Testing with multiple lines.
Done''')

In [13]:
student_list=['Ram','X','Y','Z','A','B','C']
# Open the file '/content/Test/example.txt' in write mode ('w').
# This will overwrite any existing content.
with open('/content/Test/example.txt','w') as file:
  # Iterate through each student in the list.
  for student in student_list:
    # Write each student's name to the file, followed by a newline character.
    # The 'write' method does not accept 'end' as a keyword argument.
    file.write(f' The student name is {student}.\n')
print("TXT with student records printed successfully")

TXT with student records printed successfully

In [16]:
student_list=['Ram','X','Y','Z','A','B','C']
# Open the file '/content/Test/example.txt' in write mode ('w').
# This will overwrite any existing content.
with open('/content/Test/example.txt','w') as file:
  # Iterate through each student in the list.
  for student in student_list:
    # Write each student's name to the file, followed by a newline character.
    # The 'write' method does not accept 'end' as a keyword argument.
    file.write(f'The student name is {student}. Welcome onboard {student}\n')
print("TXT with student records printed successfully")

TXT with student records printed successfully

# Reading an existing file using inbuilt open() function

In [20]:
# Open the same file 'example.txt' in read mode ('r').
# The 'with' statement ensures the file is properly closed.
with open('/content/Test/example.txt', 'r') as file:
  # Read the entire content of the file.
  content = file.read()
  # Print the content that was read from the file.
  print(content)

print('Console Message: File content read successfully.')

The student name is Ram. Welcome onboard Ram
The student name is X. Welcome onboard X
The student name is Y. Welcome onboard Y
The student name is Z. Welcome onboard Z
The student name is A. Welcome onboard A
The student name is B. Welcome onboard B
The student name is C. Welcome onboard C

Console Message: File content read successfully.

In [19]:
# Open the same file 'example.txt' in read mode ('r').
# The 'with' statement ensures the file is properly closed.
try:
  with open('/content/Test/example1.txt', 'r') as file:
    # Read the entire content of the file.
    content = file.read()
    # Print the content that was read from the file.
    print(content)

  print('Console Message: File content read successfully.')
except FileNotFoundError:
  print("Error: File not found.")

Error: File not found.

## Key File Reading Operations

When working with files in Python, several methods are available for reading their content:

*   **`file.read()`**: Reads the entire content of the file as a single string. If an optional `size` argument is provided, it reads up to `size` bytes.

    ```python
    with open('example.txt', 'r') as file:
        content = file.read()
        print(content)
    ```

*   **`file.readline()`**: Reads a single line from the file, including the newline character at the end. Subsequent calls to `readline()` will read the next line.

    ```python
    with open('example.txt', 'r') as file:
        first_line = file.readline()
        second_line = file.readline()
        print(f"First line: {first_line}")
        print(f"Second line: {second_line}")
    ```

*   **`file.readlines()`**: Reads all lines from the file and returns them as a list of strings, where each string represents a line and includes the newline character.

    ```python
    with open('example.txt', 'r') as file:
        all_lines = file.readlines()
        for line in all_lines:
            print(line.strip()) # .strip() removes leading/trailing whitespace, including newline
    ```

*   **Iterating over a file object**: This is often the most memory-efficient and Pythonic way to read a file line by line, especially for large files.

    ```python
    with open('example.txt', 'r') as file:
        for line in file:
            print(line.strip()) # Process each line individually
    ```

These methods provide flexible ways to access file content based on your specific needs, from reading the whole file at once to processing it line by line.

In [31]:
with open('example.txt', 'r') as file:
    # Read the first line from the file and remove leading/trailing whitespace.
    first_line = file.readline().strip()
    # Read the second line from the file.
    second_line = file.readline()
    # Print the first line.
    print(f"First line: {first_line}")
    # Print the second line.
    print(f"Second line: {second_line}")

First line: This is a sample file for testing.
Second line:  Hello

In [27]:
with open('example.txt', 'r') as file:
    all_lines = file.readlines()
    for line in all_lines:
        print(line.strip()) # .strip() removes leading/trailing whitespace, including newline

This is a sample file for testing.
Hello

## What is a TSV File?

A **TSV (Tab Separated Values)** file is a simple, plain text format used to store tabular data. It is very similar to a CSV (Comma Separated Values) file, but instead of commas, it uses tab characters (`\t`) to separate values within each row.

### Key Concepts of TSV Files:

*   **Delimiter**: The primary characteristic is the use of a **tab character (`\t`)** as the delimiter to separate columns (fields) within a row.
*   **Plain Text Format**: TSV files are human-readable and can be opened with any text editor.
*   **Tabular Data**: Each line in a TSV file represents a row in a table, and fields within that row are separated by tabs.
*   **First Row (Optional)**: Often, the first line of a TSV file contains header labels that describe the content of each column.
*   **No Special Escaping (Usually)**: Unlike CSVs, which often require special handling for commas within data fields (e.g., enclosing them in quotes), tabs are less common within data values, so TSV files generally don't require complex quoting or escaping rules.
*   **Data Exchange**: Commonly used for data exchange between different programs and systems, especially where data might naturally contain commas (making CSV problematic) or for simpler data parsing.
*   **Lightweight**: Because of their simplicity, they are lightweight and easy to process programmatically.

In [32]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

# Set seed for reproducibility
np.random.seed(42)
random.seed(42)

# Define possible values for categorical columns
first_names = ['Rahul', 'Priya', 'Amit', 'Neeta', 'Raj', 'Anjali', 'Vikram', 'Pooja', 'Sanjay', 'Deepa',
               'Arjun', 'Kavita', 'Manoj', 'Shweta', 'Ravi', 'Nidhi', 'Suresh', 'Meera', 'Ajay', 'Divya',
               'Vivek', 'Neha', 'Rakesh', 'Anita', 'Ashok', 'Sunita', 'Pankaj', 'Jyoti', 'Nitin', 'Swati',
               'Gaurav', 'Ritu', 'Alok', 'Shilpa', 'Anil', 'Rekha', 'Tarun', 'Geeta', 'Harish', 'Preeti']

last_names = ['Sharma', 'Patel', 'Singh', 'Rao', 'Kumar', 'Verma', 'Gupta', 'Joshi', 'Reddy', 'Nair',
              'Menon', 'Das', 'Bose', 'Chatterjee', 'Mukherjee', 'Banerjee', 'Yadav', 'Jha', 'Sinha', 'Pandey']

departments = ['HR', 'Finance', 'IT', 'Marketing', 'Operations', 'Sales', 'R&D', 'Legal', 'Admin', 'Customer Support']
cities = ['Mumbai', 'Delhi', 'Bangalore', 'Hyderabad', 'Chennai', 'Pune', 'Ahmedabad', 'Kolkata', 'Jaipur', 'Lucknow']
job_titles = {
    'HR': ['HR Associate', 'HR Manager', 'Recruiter', 'HR Business Partner', 'HR Director'],
    'Finance': ['Accountant', 'Financial Analyst', 'Finance Manager', 'Auditor', 'CFO'],
    'IT': ['Software Engineer', 'Senior Developer', 'IT Manager', 'DevOps Engineer', 'CTO'],
    'Marketing': ['Marketing Executive', 'Digital Marketing Specialist', 'Brand Manager', 'Marketing Head', 'CMO'],
    'Operations': ['Operations Associate', 'Operations Manager', 'Supply Chain Specialist', 'Logistics Coordinator', 'COO'],
    'Sales': ['Sales Executive', 'Account Manager', 'Sales Manager', 'Regional Sales Head', 'VP Sales'],
    'R&D': ['Research Scientist', 'Product Developer', 'R&D Manager', 'Innovation Lead', 'Director R&D'],
    'Legal': ['Legal Counsel', 'Compliance Officer', 'Contract Specialist', 'Legal Manager', 'General Counsel'],
    'Admin': ['Administrative Assistant', 'Office Manager', 'Facilities Coordinator', 'Admin Manager', 'Director Admin'],
    'Customer Support': ['Support Associate', 'Customer Service Rep', 'Support Manager', 'Client Success Manager', 'Head of Support']
}

genders = ['Male', 'Female', 'Other']
education_levels = ['High School', 'Associate Degree', "Bachelor's Degree", "Master's Degree", 'PhD']
performance_ratings = ['Excellent', 'Good', 'Average', 'Below Average']
employment_types = ['Full-time', 'Part-time', 'Contract', 'Intern']
marital_statuses = ['Single', 'Married', 'Divorced', 'Widowed']
project_names = ['Project Alpha', 'Project Beta', 'Project Gamma', 'Project Delta', 'Project Epsilon',
                 'Project Zeta', 'Project Eta', 'Project Theta', 'Project Iota', 'Project Kappa']

# Generate employee data
num_employees = 200
data = {
    'Emp_ID': list(range(1001, 1001 + num_employees)),
    'Name': [],
    'Email': [],
    'Gender': [],
    'Age': [],
    'Department': [],
    'Job_Title': [],
    'Salary_INR': [],
    'Joining_Date': [],
    'Years_of_Service': [],
    'City': [],
    'State': [],
    'Education_Level': [],
    'Performance_Rating': [],
    'Manager_ID': [],
    'Project': [],
    'Employment_Type': [],
    'Marital_Status': [],
    'Number_of_Dependents': [],
    'Emergency_Contact': []
}

# State mapping for cities
city_to_state = {
    'Mumbai': 'Maharashtra', 'Delhi': 'Delhi', 'Bangalore': 'Karnataka', 'Hyderabad': 'Telangana',
    'Chennai': 'Tamil Nadu', 'Pune': 'Maharashtra', 'Ahmedabad': 'Gujarat', 'Kolkata': 'West Bengal',
    'Jaipur': 'Rajasthan', 'Lucknow': 'Uttar Pradesh'
}

# Generate manager IDs (some employees will be managers)
manager_ids = random.sample(range(1001, 1001 + num_employees), int(num_employees * 0.15))  # 15% are managers

# Generate data for each employee
for i in range(num_employees):
    # Name
    first_name = random.choice(first_names)
    last_name = random.choice(last_names)
    name = f"{first_name} {last_name}"
    data['Name'].append(name)

    # Email
    email = f"{first_name.lower()}.{last_name.lower()}@company.com"
    data['Email'].append(email)

    # Gender
    data['Gender'].append(random.choice(genders))

    # Age (between 22 and 65)
    age = random.randint(22, 65)
    data['Age'].append(age)

    # Department
    dept = random.choice(departments)
    data['Department'].append(dept)

    # Job Title (based on department)
    job_title = random.choice(job_titles[dept])
    data['Job_Title'].append(job_title)

    # Salary (based on job title seniority and age)
    base_salary = 30000
    if 'Manager' in job_title or 'Head' in job_title or 'Director' in job_title or 'VP' in job_title or 'CFO' in job_title or 'CTO' in job_title:
        base_salary = random.randint(120000, 250000)
    elif 'Senior' in job_title or 'Lead' in job_title:
        base_salary = random.randint(80000, 120000)
    elif 'Junior' in job_title or 'Associate' in job_title:
        base_salary = random.randint(35000, 55000)
    else:
        base_salary = random.randint(45000, 90000)

    # Adjust salary based on age (experience)
    age_factor = age / 30  # older employees generally earn more
    salary = int(base_salary * age_factor)
    data['Salary_INR'].append(salary)

    # Joining Date (random date between 2010 and 2025)
    start_date = datetime(2010, 1, 1)
    end_date = datetime(2025, 12, 31)
    random_days = random.randint(0, (end_date - start_date).days)
    joining_date = start_date + timedelta(days=random_days)
    data['Joining_Date'].append(joining_date.strftime('%Y-%m-%d'))

    # Years of Service
    today = datetime.now()
    years_of_service = (today - joining_date).days / 365.25
    data['Years_of_Service'].append(round(years_of_service, 1))

    # City
    city = random.choice(cities)
    data['City'].append(city)

    # State
    data['State'].append(city_to_state[city])

    # Education Level (based on age and job title)
    if age < 25:
        edu_weights = [0.1, 0.3, 0.5, 0.1, 0.0]  # mostly Bachelor's
    elif age > 45 and ('Director' in job_title or 'Manager' in job_title):
        edu_weights = [0.0, 0.1, 0.3, 0.4, 0.2]  # more Master's and PhD
    else:
        edu_weights = [0.05, 0.15, 0.4, 0.35, 0.05]

    data['Education_Level'].append(np.random.choice(education_levels, p=edu_weights))

    # Performance Rating
    perf_weights = [0.2, 0.5, 0.25, 0.05]  # mostly Good and Average
    data['Performance_Rating'].append(np.random.choice(performance_ratings, p=perf_weights))

    # Manager ID (assign manager or None)
    if i in manager_ids:
        data['Manager_ID'].append(None)  # Manager has no manager
    else:
        # Assign a random manager (ensure not self)
        possible_managers = [m for m in manager_ids if m != data['Emp_ID'][i]]
        data['Manager_ID'].append(random.choice(possible_managers) if possible_managers else None)

    # Project
    data['Project'].append(random.choice(project_names))

    # Employment Type
    emp_weights = [0.8, 0.1, 0.07, 0.03]  # mostly full-time
    data['Employment_Type'].append(np.random.choice(employment_types, p=emp_weights))

    # Marital Status
    if age < 25:
        ms_weights = [0.8, 0.15, 0.03, 0.02]
    elif age > 40:
        ms_weights = [0.1, 0.7, 0.15, 0.05]
    else:
        ms_weights = [0.4, 0.5, 0.08, 0.02]
    data['Marital_Status'].append(np.random.choice(marital_statuses, p=ms_weights))

    # Number of Dependents
    if data['Marital_Status'][i] == 'Married':
        dependents = random.choices([0, 1, 2, 3, 4], weights=[0.2, 0.3, 0.3, 0.15, 0.05])[0]
    else:
        dependents = random.choices([0, 1, 2], weights=[0.7, 0.2, 0.1])[0]
    data['Number_of_Dependents'].append(dependents)

    # Emergency Contact (random phone number)
    data['Emergency_Contact'].append(f"+91-{random.randint(7000000000, 9999999999)}")

# Create DataFrame
df = pd.DataFrame(data)

# Display first few rows
print(df.head(10))

# Summary statistics
print("\nDataset Info:")
print(f"Total employees: {len(df)}")
print(f"Departments: {df['Department'].nunique()}")
print(f"Average salary: ₹{df['Salary_INR'].mean():,.0f}")
print(f"Salary range: ₹{df['Salary_INR'].min():,} - ₹{df['Salary_INR'].max():,}")
print(f"Date range: {df['Joining_Date'].min()} to {df['Joining_Date'].max()}")

# Save to CSV
df.to_csv('dummy_employee_data.csv', index=False)
print("\nDataset saved to 'dummy_employee_data.csv'")

# Show distribution
print("\nDepartment distribution:")
print(df['Department'].value_counts())

print("\nEmployment type distribution:")
print(df['Employment_Type'].value_counts())

   Emp_ID             Name                        Email  Gender  Age  \
0    1001      Geeta Reddy      geeta.reddy@company.com    Male   32
1    1002       Vikram Das       vikram.das@company.com  Female   60
2    1003       Preeti Das       preeti.das@company.com   Other   34
3    1004  Meera Mukherjee  meera.mukherjee@company.com   Other   45
4    1005       Anil Joshi       anil.joshi@company.com    Male   51
5    1006       Ravi Patel       ravi.patel@company.com  Female   47
6    1007      Swati Kumar      swati.kumar@company.com  Female   30
7    1008     Sanjay Yadav     sanjay.yadav@company.com  Female   27
8    1009     Ashok Pandey     ashok.pandey@company.com  Female   55
9    1010         Neha Rao         neha.rao@company.com  Female   49

   Department             Job_Title  Salary_INR Joining_Date  \
0         R&D           R&D Manager      166849   2013-06-27
1  Operations  Operations Associate      100108   2022-01-10
2     Finance            Accountant      100114   2015-02-10
3          IT            IT Manager      249849   2014-09-13
4         R&D           R&D Manager      424486   2024-05-09
5  Operations  Operations Associate       65663   2022-09-21
6   Marketing                   CMO       80322   2015-11-23
7          HR          HR Associate       36007   2024-01-28
8  Operations                   COO       83878   2025-04-04
9          IT       DevOps Engineer       73846   2015-11-28

   Years_of_Service       City          State    Education_Level  \
0              12.7  Hyderabad      Telangana  Bachelor's Degree
1               4.1      Delhi          Delhi   Associate Degree
2              11.0    Chennai     Tamil Nadu    Master's Degree
3              11.4    Chennai     Tamil Nadu    Master's Degree
4               1.8     Jaipur      Rajasthan  Bachelor's Degree
5               3.4       Pune    Maharashtra    Master's Degree
6              10.3    Lucknow  Uttar Pradesh  Bachelor's Degree
7               2.1  Bangalore      Karnataka  Bachelor's Degree
8               0.9      Delhi          Delhi   Associate Degree
9              10.2     Jaipur      Rajasthan  Bachelor's Degree

  Performance_Rating  Manager_ID        Project Employment_Type  \
0      Below Average        1051   Project Zeta       Full-time
1          Excellent        1115    Project Eta       Full-time
2            Average        1007  Project Delta       Full-time
3               Good        1198   Project Beta       Full-time
4               Good        1036   Project Zeta       Full-time
5          Excellent        1058  Project Theta       Full-time
6            Average        1109  Project Kappa       Full-time
7          Excellent        1192    Project Eta       Full-time
8            Average        1198   Project Iota        Contract
9          Excellent        1051  Project Gamma       Full-time

  Marital_Status  Number_of_Dependents Emergency_Contact
0        Married                     0    +91-8631775357
1       Divorced                     0    +91-8259191105
2       Divorced                     1    +91-8632629719
3        Married                     2    +91-7735034881
4        Married                     3    +91-7240251661
5        Married                     1    +91-9761027762
6        Married                     1    +91-7941975480
7         Single                     0    +91-8652563013
8       Divorced                     1    +91-9752909971
9        Married                     2    +91-7457031004

Dataset Info:
Total employees: 200
Departments: 10
Average salary: ₹169,515
Salary range: ₹36,007 - ₹514,386
Date range: 2010-01-10 to 2025-10-28

Dataset saved to 'dummy_employee_data.csv'

Department distribution:
Department
Operations          27
Marketing           24
Admin               24
Sales               22
R&D                 20
Legal               20
IT                  19
Finance             16
HR                  14
Customer Support    14
Name: count, dtype: int64

Employment type distribution:
Employment_Type
Full-time    166
Part-time     15
Contract      13
Intern         6
Name: count, dtype: int64

In [35]:
df=pd.DataFrame(data)
# print(df) explicitly outputs the DataFrame to standard output.
# The output formatting might be simpler compared to the rich display of a DataFrame.
print(df)
# When a DataFrame (or any expression) is the last line in a Colab cell,
# it's automatically displayed as the cell's rich output, often with better formatting and interactivity.
df

     Emp_ID             Name                        Email  Gender  Age  \
0      1001      Geeta Reddy      geeta.reddy@company.com    Male   32
1      1002       Vikram Das       vikram.das@company.com  Female   60
2      1003       Preeti Das       preeti.das@company.com   Other   34
3      1004  Meera Mukherjee  meera.mukherjee@company.com   Other   45
4      1005       Anil Joshi       anil.joshi@company.com    Male   51
..      ...              ...                          ...     ...  ...
195    1196        Neeta Jha        neeta.jha@company.com  Female   65
196    1197        Jyoti Das        jyoti.das@company.com   Other   26
197    1198       Pankaj Das       pankaj.das@company.com  Female   50
198    1199     Sunita Yadav     sunita.yadav@company.com    Male   36
199    1200  Nidhi Mukherjee  nidhi.mukherjee@company.com  Female   31

     Department                 Job_Title  Salary_INR Joining_Date  \
0           R&D               R&D Manager      166849   2013-06-27
1    Operations      Operations Associate      100108   2022-01-10
2       Finance                Accountant      100114   2015-02-10
3            IT                IT Manager      249849   2014-09-13
4           R&D               R&D Manager      424486   2024-05-09
..          ...                       ...         ...          ...
195  Operations      Operations Associate      103943   2015-09-16
196       Admin  Administrative Assistant       42919   2020-08-03
197         R&D           Innovation Lead      142098   2025-04-24
198          HR              HR Associate       53731   2020-05-20
199  Operations        Operations Manager      250963   2012-07-13

     Years_of_Service       City        State    Education_Level  \
0                12.7  Hyderabad    Telangana  Bachelor's Degree
1                 4.1      Delhi        Delhi   Associate Degree
2                11.0    Chennai   Tamil Nadu    Master's Degree
3                11.4    Chennai   Tamil Nadu    Master's Degree
4                 1.8     Jaipur    Rajasthan  Bachelor's Degree
..                ...        ...          ...                ...
195              10.4     Mumbai  Maharashtra    Master's Degree
196               5.6     Mumbai  Maharashtra   Associate Degree
197               0.8     Jaipur    Rajasthan  Bachelor's Degree
198               5.8     Jaipur    Rajasthan  Bachelor's Degree
199              13.6     Mumbai  Maharashtra    Master's Degree

    Performance_Rating  Manager_ID        Project Employment_Type  \
0        Below Average        1051   Project Zeta       Full-time
1            Excellent        1115    Project Eta       Full-time
2              Average        1007  Project Delta       Full-time
3                 Good        1198   Project Beta       Full-time
4                 Good        1036   Project Zeta       Full-time
..                 ...         ...            ...             ...
195               Good        1144  Project Delta       Full-time
196            Average        1027    Project Eta       Full-time
197            Average        1071   Project Zeta       Full-time
198               Good        1152   Project Iota       Full-time
199               Good        1167    Project Eta       Full-time

    Marital_Status  Number_of_Dependents Emergency_Contact
0          Married                     0    +91-8631775357
1         Divorced                     0    +91-8259191105
2         Divorced                     1    +91-8632629719
3          Married                     2    +91-7735034881
4          Married                     3    +91-7240251661
..             ...                   ...               ...
195        Married                     2    +91-7194518221
196        Married                     0    +91-7581662546
197        Married                     0    +91-9307507627
198        Married                     1    +91-7986399651
199       Divorced                     0    +91-7067198189

[200 rows x 20 columns]

,Emp_ID,Name,Email,Gender,Age,Department,Job_Title,Salary_INR,Joining_Date,Years_of_Service,City,State,Education_Level,Performance_Rating,Manager_ID,Project,Employment_Type,Marital_Status,Number_of_Dependents,Emergency_Contact
0,1001,Geeta Reddy,geeta.reddy@company.com,Male,32,R&D,R&D Manager,166849,2013-06-27,12.7,Hyderabad,Telangana,Bachelor's Degree,Below Average,1051,Project Zeta,Full-time,Married,0,+91-8631775357
1,1002,Vikram Das,vikram.das@company.com,Female,60,Operations,Operations Associate,100108,2022-01-10,4.1,Delhi,Delhi,Associate Degree,Excellent,1115,Project Eta,Full-time,Divorced,0,+91-8259191105
2,1003,Preeti Das,preeti.das@company.com,Other,34,Finance,Accountant,100114,2015-02-10,11.0,Chennai,Tamil Nadu,Master's Degree,Average,1007,Project Delta,Full-time,Divorced,1,+91-8632629719
3,1004,Meera Mukherjee,meera.mukherjee@company.com,Other,45,IT,IT Manager,249849,2014-09-13,11.4,Chennai,Tamil Nadu,Master's Degree,Good,1198,Project Beta,Full-time,Married,2,+91-7735034881
4,1005,Anil Joshi,anil.joshi@company.com,Male,51,R&D,R&D Manager,424486,2024-05-09,1.8,Jaipur,Rajasthan,Bachelor's Degree,Good,1036,Project Zeta,Full-time,Married,3,+91-7240251661
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1196,Neeta Jha,neeta.jha@company.com,Female,65,Operations,Operations Associate,103943,2015-09-16,10.4,Mumbai,Maharashtra,Master's Degree,Good,1144,Project Delta,Full-time,Married,2,+91-7194518221
196,1197,Jyoti Das,jyoti.das@company.com,Other,26,Admin,Administrative Assistant,42919,2020-08-03,5.6,Mumbai,Maharashtra,Associate Degree,Average,1027,Project Eta,Full-time,Married,0,+91-7581662546
197,1198,Pankaj Das,pankaj.das@company.com,Female,50,R&D,Innovation Lead,142098,2025-04-24,0.8,Jaipur,Rajasthan,Bachelor's Degree,Average,1071,Project Zeta,Full-time,Married,0,+91-9307507627
198,1199,Sunita Yadav,sunita.yadav@company.com,Male,36,HR,HR Associate,53731,2020-05-20,5.8,Jaipur,Rajasthan,Bachelor's Degree,Good,1152,Project Iota,Full-time,Married,1,+91-7986399651
199,1200,Nidhi Mukherjee,nidhi.mukherjee@company.com,Female,31,Operations,Operations Manager,250963,2012-07-13,13.6,Mumbai,Maharashtra,Master's Degree,Good,1167,Project Eta,Full-time,Divorced,0,+91-7067198189

In [50]:
# Save the DataFrame to a Tab Separated Values (TSV) file.
# 'dummy_tsv_example.tsv' is the output filename.
# 'sep='\t'' specifies that columns should be separated by tabs.
# 'index=False' excludes the DataFrame's index from the TSV file.
# 'index_label='Row_ID'' sets the header for the index column to 'Row_ID'.
df.to_csv('dummy_tsv_example.tsv', sep='\t', index=False, index_label='Row_ID')

In [59]:
# Read the TSV file 'dummy_tsv_example.tsv' into a pandas DataFrame.
# The 'sep='\t'' argument specifies that the file is tab-separated.
df_read=pd.read_csv('dummy_tsv_example.tsv',sep='\t')
# Display the first 5 rows of the DataFrame to verify successful loading.
df_read.head()

,Emp_ID,Name,Email,Gender,Age,Department,Job_Title,Salary_INR,Joining_Date,Years_of_Service,City,State,Education_Level,Performance_Rating,Manager_ID,Project,Employment_Type,Marital_Status,Number_of_Dependents,Emergency_Contact
0,1001,Geeta Reddy,geeta.reddy@company.com,Male,32,R&D,R&D Manager,166849,2013-06-27,12.7,Hyderabad,Telangana,Bachelor's Degree,Below Average,1051,Project Zeta,Full-time,Married,0,+91-8631775357
1,1002,Vikram Das,vikram.das@company.com,Female,60,Operations,Operations Associate,100108,2022-01-10,4.1,Delhi,Delhi,Associate Degree,Excellent,1115,Project Eta,Full-time,Divorced,0,+91-8259191105
2,1003,Preeti Das,preeti.das@company.com,Other,34,Finance,Accountant,100114,2015-02-10,11.0,Chennai,Tamil Nadu,Master's Degree,Average,1007,Project Delta,Full-time,Divorced,1,+91-8632629719
3,1004,Meera Mukherjee,meera.mukherjee@company.com,Other,45,IT,IT Manager,249849,2014-09-13,11.4,Chennai,Tamil Nadu,Master's Degree,Good,1198,Project Beta,Full-time,Married,2,+91-7735034881
4,1005,Anil Joshi,anil.joshi@company.com,Male,51,R&D,R&D Manager,424486,2024-05-09,1.8,Jaipur,Rajasthan,Bachelor's Degree,Good,1036,Project Zeta,Full-time,Married,3,+91-7240251661

I'll explain the differences between CSV and TSV formats in the context of pandas data wrangling, formatted for a Jupyter text cell.

```python
# CSV vs TSV in Pandas Data Wrangling

CSV (Comma-Separated Values) and TSV (Tab-Separated Values) are both delimited text file formats used to store tabular data. The key difference is the character used to separate values: commas in CSV and tabs in TSV.

## Quick Comparison Table

| Feature | CSV | TSV |
|---------|-----|-----|
| Delimiter | Comma (`,`) | Tab (`\t`) |
| File Extension | `.csv` | `.tsv` or `.txt` |
| Common Use | General data exchange, Excel export | Bioinformatics, datasets with text containing commas |
| Reading in pandas | `pd.read_csv('file.csv')` | `pd.read_csv('file.tsv', sep='\t')` |
| Writing in pandas | `df.to_csv('file.csv')` | `df.to_csv('file.tsv', sep='\t')` |

## Key Considerations for Data Wrangling

### 1. Handling Commas in Data
CSV files can break when data fields contain commas (e.g., addresses, descriptive text). TSV files avoid this issue because tabs rarely appear in natural text.

```python
import pandas as pd

# Problematic CSV with comma in data
# "Name","Address","City"
# "John Smith","123 Main St, Apt 4B","New York"

# This would be parsed incorrectly because the address contains a comma

# TSV handles this gracefully
# "Name"\t"Address"\t"City"
# "John Smith"\t"123 Main St, Apt 4B"\t"New York"
```

### 2. Reading Files in Pandas

```python
import pandas as pd

# Reading CSV (default delimiter is comma)
df_csv = pd.read_csv('data.csv')

# Reading TSV (explicitly specify tab delimiter)
df_tsv = pd.read_csv('data.tsv', sep='\t')

# Alternative: use the '\t' escape sequence
df_tsv2 = pd.read_csv('data.tsv', delimiter='\t')

# Reading TSV with .tsv extension (pandas automatically detects?)
# Note: pandas doesn't auto-detect based on extension; always specify sep for TSV
```

### 3. Writing Files in Pandas

```python
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Occupation': ['Data Scientist', 'Software Engineer', 'Product Manager'],
    'Description': ['Loves Python, pandas', 'Works on web apps, APIs', 'Manages teams, roadmaps']
})

# Write to CSV (default)
df.to_csv('output.csv', index=False)

# Write to TSV (specify tab separator)
df.to_csv('output.tsv', sep='\t', index=False)

# Write to TSV with .txt extension
df.to_csv('output.txt', sep='\t', index=False)
```

### 4. Handling Different Delimiters in the Same File

Sometimes files use mixed delimiters or inconsistent formatting:

```python
import pandas as pd

# If you're unsure of the delimiter, let pandas try to detect it
df = pd.read_csv('unknown_delimiter.txt', sep=None, engine='python')

# For files with inconsistent delimiters, you might need preprocessing
with open('messy_data.csv', 'r') as f:
    lines = f.readlines()

# Clean lines and standardize delimiter
cleaned_lines = [line.replace(';', ',').replace('\t', ',') for line in lines]

# Write cleaned data to temporary file or use StringIO
from io import StringIO
df = pd.read_csv(StringIO(''.join(cleaned_lines)))
```

### 5. Memory and Performance Considerations

```python
import pandas as pd

# For large files, specifying the delimiter explicitly improves performance
# (pandas doesn't need to guess)

# CSV (explicit is still good practice)
df_csv = pd.read_csv('large_file.csv', sep=',')

# TSV
df_tsv = pd.read_csv('large_file.tsv', sep='\t')

# Use chunks for very large files
chunk_iter = pd.read_csv('massive_file.tsv', sep='\t', chunksize=10000)
for chunk in chunk_iter:
    # process each chunk
    pass
```

### 6. Practical Example: Converting Between Formats

```python
import pandas as pd

# Read TSV, write CSV
df = pd.read_csv('data.tsv', sep='\t')
df.to_csv('data_converted.csv', index=False)

# Read CSV, write TSV
df = pd.read_csv('data.csv')
df.to_csv('data_converted.tsv', sep='\t', index=False)

# Bulk conversion of multiple files
import glob

# Convert all CSV files to TSV
for csv_file in glob.glob('*.csv'):
    df = pd.read_csv(csv_file)
    tsv_file = csv_file.replace('.csv', '.tsv')
    df.to_csv(tsv_file, sep='\t', index=False)
    print(f"Converted {csv_file} to {tsv_file}")
```

## When to Use Each Format

### Use CSV when:
- Working with Excel users (Excel opens CSV by default)
- Sharing data with systems that expect CSV format
- Data doesn't contain commas in text fields
- You need maximum compatibility with legacy systems

### Use TSV when:
- Data contains commas (addresses, descriptions, names with suffixes)
- Working with bioinformatics data (common in genomics)
- Avoiding delimiter conflicts is critical
- Processing text-heavy datasets

### Use TSV with caution when:
- Data might contain actual tab characters (rare in most datasets)
- Sharing with non-technical users who might not know it's tab-delimited

## Best Practices for Data Wrangling

```python
import pandas as pd

# 1. Always specify the delimiter explicitly
df = pd.read_csv('data.tsv', sep='\t')  # Good
# df = pd.read_csv('data.tsv')  # Bad - will try comma delimiter

# 2. Quote handling for CSV
df = pd.read_csv('data.csv', quoting=1)  # QUOTE_ALL = 1, QUOTE_MINIMAL = 0

# 3. Handle encoding properly
df = pd.read_csv('data.csv', encoding='utf-8')  # or 'latin-1', 'cp1252'

# 4. Inspect first few rows to verify correct parsing
df = pd.read_csv('data.tsv', sep='\t', nrows=5)
print(df.head())
print(df.dtypes)

# 5. For files with headers, use header parameter
df = pd.read_csv('data.tsv', sep='\t', header=0)  # First row is header
df = pd.read_csv('data.tsv', sep='\t', header=None)  # No header

# 6. Specify column names manually if needed
df = pd.read_csv('data.tsv', sep='\t', names=['col1', 'col2', 'col3'])
```

## Summary

| Aspect | CSV | TSV |
|--------|-----|-----|
| **Delimiter** | Comma (`,`) | Tab (`\t`) |
| **Pandas Read** | `pd.read_csv()` | `pd.read_csv(sep='\t')` |
| **Pandas Write** | `df.to_csv()` | `df.to_csv(sep='\t')` |
| **Pros** | Universal compatibility | Handles commas in data well |
| **Cons** | Breaks with commas in data | Less common, may confuse users |
| **Best For** | Simple data, Excel exchange | Text data, bioinformatics |

The choice between CSV and TSV often comes down to your data content. If your data contains commas, use TSV. For maximum compatibility with other tools and users, CSV remains the standard choice.
```

## What is JSON?

**JSON (JavaScript Object Notation)** is a lightweight data-interchange format. It is easy for humans to read and write, and easy for machines to parse and generate. JSON is built on two structures:

1.  A collection of name/value pairs. In various languages, this is realized as an `object`, `record`, `struct`, `dictionary`, `hash table`, `keyed list`, or `associative array`.
2.  An ordered list of values. In most languages, this is realized as an `array`, `vector`, `list`, or `sequence`.

### Key Concepts of JSON:

*   **Human-Readable**: JSON is designed to be easily readable by humans.
*   **Lightweight**: It has minimal formatting overhead, making it efficient for data transmission.
*   **Language Independent**: Although derived from JavaScript, JSON is a language-independent data format. Parsers and generators exist for many programming languages.
*   **Self-Describing**: JSON's structure is typically clear and easy to understand.
*   **Hierarchical Structure**: Data is organized in a tree-like or nested structure using objects and arrays.

### JSON Data Types:

*   **Objects**: An unordered set of name/value pairs. An object begins with `{` (left brace) and ends with `}` (right brace). Each name is followed by a `:` (colon) and the name/value pairs are separated by `,` (comma).
    Example: `{"name": "Alice", "age": 30}`

*   **Arrays**: An ordered collection of values. An array begins with `[` (left bracket) and ends with `]` (right bracket). Values are separated by `,` (comma).
    Example: `["apple", "banana", "cherry"]`

*   **Strings**: A sequence of zero or more Unicode characters, enclosed in double quotes. Backslash escapes are used.
    Example: `"Hello, World!"`

*   **Numbers**: An integer or a floating-point number.
    Example: `123`, `3.14`, `-5`

*   **Booleans**: `true` or `false`.

*   **`null`**: An empty value.

### Common Uses:

*   **Data Exchange**: Commonly used when exchanging data between a web server and a web application.
*   **Configuration Files**: Many applications use JSON for configuration settings.
*   **APIs**: It is the primary data format for many RESTful APIs.
*   **NoSQL Databases**: Databases like MongoDB use JSON-like documents to store data.

JSON's simplicity and widespread support make it a ubiquitous format for modern data interchange.

In [60]:
import json

In [87]:
data_json={
    'employees':{
    "Emp_ID": [101, 102, 103, 104],
    "Name": ["Rahul Sharma", "Priya Patel", "Amit Singh", "Neeta Rao"],
    "Department": ["HR", "Finance", "IT", "Marketing"],
    "Salary (₹)": [50000, 65000, 80000, 55000],
    "Joining_Date": ["2020-01-15", "2019-05-22", "2021-11-10", "2022-03-05"],
    "City": ["Mumbai", "Delhi", "Bangalore", "Hyderabad"]
    }
}

In [88]:
with open('data_json.json','w') as f:
    # Use json.dump to write the data_json dictionary to the file 'f'.
    # The 'indent=4' parameter formats the JSON output with 4-space indentation for readability.
    json.dump(data_json,f, indent = 4)
# json.dump() serializes python object to JSON
# indent: improves the readability by formatting the white spaces

# Reading the JSON file

In [91]:
with open('data_json.json','r') as file:
  data_read = json.load(file)
# Printing the data from json to a more readable format
print('Employee Details:')
# Determine the number of employees by checking the length of any of the lists (e.g., 'Emp_ID')
num_employees = len(data_read['employees']['Emp_ID'])

# Iterate through the indices to print each employee's details
for i in range(num_employees):
  print(f"Employee ID: {data_read['employees']['Emp_ID'][i]}")
  print(f"Name: {data_read['employees']['Name'][i]}")
  print(f"Joining Date: {data_read['employees']['Joining_Date'][i]}")
  print(f"Department: {data_read['employees']['Department'][i]}")
  print("--------------------") # Separator for better readability

Employee Details:
Employee ID: 101
Name: Rahul Sharma
Joining Date: 2020-01-15
Department: HR
--------------------
Employee ID: 102
Name: Priya Patel
Joining Date: 2019-05-22
Department: Finance
--------------------
Employee ID: 103
Name: Amit Singh
Joining Date: 2021-11-10
Department: IT
--------------------
Employee ID: 104
Name: Neeta Rao
Joining Date: 2022-03-05
Department: Marketing
--------------------

In [93]:
# Iterate through the indices to print each employee's details
for i in range(num_employees):
  print(f"Employee ID: {data_read['employees']['Emp_ID'][i]} Name: {data_read['employees']['Name'][i]} Joining Date: {data_read['employees']['Joining_Date'][i]} Department: {data_read['employees']['Department'][i]}")

Employee ID: 101 Name: Rahul Sharma Joining Date: 2020-01-15 Department: HR
Employee ID: 102 Name: Priya Patel Joining Date: 2019-05-22 Department: Finance
Employee ID: 103 Name: Amit Singh Joining Date: 2021-11-10 Department: IT
Employee ID: 104 Name: Neeta Rao Joining Date: 2022-03-05 Department: Marketing

# CSV (Comma-Separated Values)
# Tabular data with commas as delimiters

| Aspect | Description |
|--------|-------------|
| **Structure** | Rows and columns (tabular) |
| **Delimiter** | Comma (`,`) |
| **Human Readable** | Yes |
| **Machine Readable** | Easy (many parsers available) |
| **File Size** | Compact |
| **Best For** | Spreadsheets, database exports, simple datasets |
| **Limitations** | Issues with commas in data, no data types |
| **Example** |
```
                Name    Age    City
                John    30     NY
                Meera   25     Mumbai
```

---

# TSV (Tab-Separated Values)
# Tabular data with tabs as delimiters

| Aspect | Description |
|--------|-------------|
| **Structure** | Rows and columns (tabular) |
| **Delimiter** | Tab (`\t`) |
| **Human Readable** | Yes (aligned columns) |
| **Machine Readable** | Easy |
| **File Size** | Compact |
| **Best For** | Data with commas, bioinformatics, legacy systems |
| **Advantage** | Avoids comma conflicts |
| **Example** | ```
                Name    Age    City
                John    30     NY
                Meera   25     Mumbai
``` |

---

# JSON (JavaScript Object Notation)
# Hierarchical data with key-value pairs

| Aspect | Description |
|--------|-------------|
| **Structure** | Nested objects/arrays (hierarchical) |
| **Delimiter** | Braces `{}`, brackets `[]`, colons `:` |
| **Human Readable** | Yes (with proper formatting) |
| **Machine Readable** | Excellent (native for web) |
| **File Size** | Larger (verbose with keys) |
| **Best For** | APIs, web applications, complex/nested data |
| **Advantages** | Supports data types, nesting, self-describing |
| **Example** | ```
json
{
  "employees": [
    {"name": "John", "age": 30, "city": "NY"},
    {"name": "Meera", "age": 25, "city": "Mumbai"}
  ]
}
```


---

# Quick Comparison Table

| Feature | TXT | CSV | TSV | JSON |
|---------|-----|-----|-----|------|
| **Data Structure** | None | Tabular | Tabular | Hierarchical |
| **Metadata Support** | No | No | No | Yes |
| **Data Types** | No | No | No | Yes (string, number, boolean, null, array, object) |
| **Nested Data** | No | No | No | Yes |
| **Parsing Speed** | N/A | Fast | Fast | Medium |
| **File Size** | Varies | Small | Small | Medium-Large |
| **Standardization** | None | RFC 4180 | IANA | ECMA-404 |
| **Common Use** | Notes, logs | Excel, databases | Data science | APIs, configs |

---

# When to Use Each

- **TXT**: Simple notes, logs, configuration files
- **CSV**: Spreadsheet data, database exports, simple datasets
- **TSV**: Data containing commas, genetic data, R programming
- **JSON**: APIs, web apps, configuration, complex/nested data